#onl-login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--black);
}

#onl-login .login-container{
    margin-top: 48px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 400px;
    overflow: hidden;
}

#onl-login .login-title{
    padding: 24px 0;
    background-color: var(--white);
    border-bottom: 2px solid var(--purple);
    width: 100%;
    display: flex;
    justify-content: center; 
}

#onl-login .login-title span{
    font-size: 1.3rem;
    color: var(--white);
}

#onl-login form{
    width: 100%;
}

#onl-login .login-input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 36px 0;
    padding: 0 24px;
}

#onl-login .login-input-group input{
    width: 100%;
    background-color: transparent;
    color: var(--black);
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid var(--black);
    transition: border 0.15s linear;
}

#onl-login .login-input-group input:focus{
    border-bottom: 2px solid var(--purple);
}

#onl-login .login-input-group input:first-of-type{
    margin-bottom: 36px;
}

#onl-login .login-button-group{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

#onl-login .login-button-group input{
    cursor: pointer;
    background-color: var(--purple);
    border: 2px solid var(--purple);
    font-size: 1.1rem;
    padding: 12px 24px;
    color: var(--white);
    border-radius: 8px;
    transition: all 0.15s linear;
}

#onl-login .login-button-group input:hover{
    background-color: var(--white);
    color: var(--purple);
    font-weight: bold;
}

@media(max-width: 500px){
    #onl-login .login-container{
        width: 90%;
    }
}